.heading-div {
    margin-top: 120px;
    /*margin-bottom: 40px;*/
    margin-left: 40px;
}

input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
    width: 30%;
    margin-bottom: 50px;
}

form {
    padding: 10px 50px 50px 200px;
    /*align-self: center;*/
}

.form-control {
    width: 30%;
    min-width: 300px;
}

label {
    padding-top: 20px;
}
