<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Selectie raport</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/footerProiectMongo.css}">
    <link rel="stylesheet" th:href="@{/css/navBarProiectMongo.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-md bg-success fixed-top">
    <div class="container-fluid"><img class="logo" th:src="@{/img/Pill_256px.png}"><a class="navbar-brand"><strong>Demo project with Spring Boot, MonogoDB, Thymeleaf</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href="/select/toate">Lista de produse</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="heading-div">
    <h1>Raport (selectează medicamente cu indicația):</h1>
</div>
<form action="#" method="get" th:action="@{/indicatie}" >
    <label>Indicație</label>
    <input class="form-control" type="text" th:name="indicatie"><br>
    <button class="btn btn-info" type="submit">Rulează</button></form>
<div class="second-heading">
    <h1>Agregare (grupează după producători în funcție de valoare):</h1>
</div>
<form action="#" method="get" th:action="@{/agregare/1}">
    <label>Doar produse cu preț unitar mai mare sau egal ca:</label>
    <input class="form-control" type="text" th:name="pret"><br>
    <button class="btn btn-info" type="submit">Rulează</button></form>
<div class="second-heading">
    <h1>Agregare (afișează după cantitate sau preț):</h1>
</div>
<form action="#" method="get" th:action="@{/agregare/2}">
    <label>Doar produse în cantitate mai mare ca:</label>
    <input class="form-control" type="text" th:name="cantitate">
    <label>Doar produse cu preț mai mare ca:</label>
    <input class="form-control" type="text" th:name="pret"><br>
    <button class="btn btn-info" type="submit">Rulează</button></form>
<div
        class="footer-basic fixed-bottom">
    <footer>
        <p class="copyright">Costin Chelu © 2021</p>
    </footer>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>